<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Agile</title>

    <style>
        th, td {
            padding: 5px;
        }
    </style>

</head>

<body>
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

<table id="1" table border="10"  width="25%"  align="right">


    <tr>
        <th>DONE</th>
    </tr>
    <tr th:each="cards : ${Done}">
        <td th:utext="${cards.CARDNAME}">..</td>
    <tr>
    </tr>
</table>
<table id="2" table border="10"  width="25%"  align="left">

    <tr>
        <th>In Progress</th>
    </tr>
    <tr th:each="cards : ${InProgress}">
        <td th:utext="${cards.CARDNAME}">..</td>
    <tr>
    </tr>
</table>
<table id="3" table border="10"  width="25%"  align="center">

    <tr>
        <th>To DO</th>
    </tr>
    <tr th:each="cards : ${ToDo}">
        <td th:utext="${cards.CARDNAME}">..</td>
    <tr>
    </tr>
</table>


</body>
</html>